html, body {
    width: 100%;
    height: 100%;
    background-color: #0D0C0C;
    margin: 0;
    color: whitesmoke;
    font-family: monospace;
    overflow: hidden;
  }


   .logout-messages {
    pointer-events: none;
    color: rgb(255, 255, 255);
    margin: 40px;
    position: fixed;
    top: 0;
    left: 0;
  }

  .hello-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }


  h1 {
    font-size: 2em;
  }
  .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    border-radius: 20px;
  }
  .nirsoft-button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    border-radius: 20px;
}
  
  #particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }

  body {
    animation-name: blurslowly;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    animation-play-state: running;
  }